<h1>Coaching#answer</h1>
<p>Find me in app/views/coaching/answer.html.erb</p>

<h2>Your question is " <%= @question %> "</h2>
<hr/>
<h2>My answer is " <%= @coach_answer %> "</h2>

<%= link_to "Ask another question", "/coaching/ask" %>
